/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
}
a {
  color: inherit;
  text-decoration: none;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}
.info-group {
  max-height: 281px;
  gap: 35px;
}
.top-main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.left-part-header {
  gap: 10px;
}
.left-part-header img {
  padding-top: 30px;
  display: inline-block;
  height: 19px;
}

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 68px;
  height: 100%;
}
.right-part-header a {
  background: none;
  outline: none;
  border: none;
  font-size: 16px;
  font-weight: 400;
}
.right-part-header a:hover {
  color: #0065fc;
  cursor: pointer;
}

.button1:hover:before {
  content: "";
  width: 110px;
  height: 1.5px;
  position: absolute;
  background: #0065fc;
  transform: translateX(1%) translateY(-1150%);
}
.button2:hover:before {
  content: "";
  width: 61px;
  height: 1.5px;
  position: absolute;
  background: #0065fc;
  transform: translateX(1%) translateY(-1150%);
}

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
  max-width: 377px;
  height: 49px;
  background-color: #ffffff;
  opacity: 1;
  margin-top: 35px;
  border: 1px solid#f2f2f2;
}

.location-icon {
  width: 50px;
  height: 49px;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 15px 0px 0px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #f2f2f2;
}

.input-city {
  border: none;
  outline: none;
  font-size: 18px;
  width: 147px;
  text-align: center;
  flex-grow: 1;
  padding: 10px;
}
.input-city::placeholder {
  font-weight: bold;
  color: black;
}
.input-city:focus::placeholder {
  color: transparent;
}
.search-button {
  background-color: #0065fc;
  color: white;
  border: 1px;
  border-radius: 0px 15px 15px 0px;
  padding: 15px 16px 15px 16px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
.filters-bar {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 35px;
  margin-bottom: 20px;
  height: 50px;
  max-width: 100%;
}
.filters-bar span {
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}
.filter {
  display: flex;
  align-items: center;
  border-radius: 25px;
  border: 2px solid #d9d9d9;
  padding: 12px 19px 12px 19px;
  gap: 10px;
}
.filter span {
  font-weight: 700;
  font-size: 17px;
  color: #000000;
}
.filter:hover {
  background-color: #deebff;
  cursor: pointer;
  transition: 0.4s;
}
.infobar {
  gap: 10px;
  display: flex;
  align-items: center;
  margin-top: 35px;
}
.infobar i {
  border: 1px solid #d9d9d9;
  color: #0065fc;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
#hebergements {
  width: 65%;
}
#hebergements > span {
  font-weight: 700;
  font-size: 22px;
}
.hebergements-cards .row1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  position: relative;
}

.hebergements-cards .row2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.hebergements-cards .card {
  gap: 4px;
  padding: 0px 0px 15px 0px;
  margin-top: 30px;
  box-shadow: 0px 3px 15px 0px #0000001a;
}
.hebergements-cards img {
  border-radius: 20px 20px 0 0;
  height: 124px;
  width: 100%;
}
.hebergements-cards .card-content {
  padding: 0 10px 0 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
#hebergements .card-title {
  margin: 0;
  padding: 5px 0 7px 0;
}
#hebergements .card-subtile {
  margin: 0;
}
#hebergements .card-rating {
  padding-top: 4px;
}
.card .link-card {
  display: inline-block;
  padding: 5px 5px 0px 5px;
}
#hebergements h4 {
  font-size: 18px;
  font-weight: 700;
  margin: 30px 0 0 0;
  width: max-content;
  cursor: pointer;
}
.hebergements-and-populaires .card a {
  display: block;
  height: 108%;
}
.more a {
  width: 22px;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

#activités {
  padding: 30px;
  gap: 30px;
}
.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  padding-top: 10px;
}
.card-activité {
  box-shadow: 0px 3px 15px 0px #0000001a;
  height: 439px;
  width: 100%;
  border-radius: 20px;
}

.card-activité p {
  font-weight: 700;
  font-size: 16px;
  padding-left: 15px;
  text-align: left;
}
.card-activité img {
  border-radius: 20px 20px 0 0;
  height: 380px;
  width: 100%;
  object-fit: cover;
}

.bot {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 93%;
  margin: 0 50px;
  box-sizing: border-box;
  margin-top: 30px;
  height: 163px;
  background-color: #f2f2f2;
}
.list-footer {
  padding: 20px 20px 0 20px;
}
.list-footer ul {
  padding-left: 0;
  list-style: none;
  height: 100px;
  margin: 0;
}
.list-footer h2 {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 10px;
}
.list-footer li {
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
}
#loupe {
  display: none;
}
.filtres {
  display: none;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .filtres {
    display: block;
    margin-top: 30px;
  }
  .filters-bar {
    margin-top: 20px;
  }
  .filters-bar h3 {
    display: none;
  }
  .hebergements-and-populaires {
    flex-direction: column;
  }

  #hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
  .bot {
    height: 180px;
  }
  .cards-container p {
    font-size: 14px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .main-container {
    padding: 0 10px 0 10px;
  }
  .top-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .headline p {
    white-space: nowrap;
  }
  .search-bar {
    margin: 0 auto;
  }
  .search-button {
    display: none;
  }
  #loupe {
    display: block;
    background-color: #0065fc;
    color: white;
    border: 1px;
    border-radius: 15px 15px 15px 15px;
    padding: 15px 16px 15px 16px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    box-shadow: 0px 4px 4px 0px #00000040;
  }

  .filters-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .filter {
    font-size: 10px;
  }
  .infobar {
    padding-top: 60px;
  }
  /* Mettre section populaires avant hébergements */
  #hebergements {
    order: 2;
    border-radius: 0 !important;
    background-color: #ffffff;
  }
  .populaires {
    max-width: 100%;
    margin-bottom: 10px;
    border-radius: 0 !important;
  }

  .bot {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: auto;
  }
  .list-footer {
    background-color: #f2f2f2;
  }
  .list-footer:last-child {
    padding-bottom: 30px;
  }
}
