/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}
.info-group {
  max-height: 281px;
  gap: 35px;
  width: 1340px;
}
.top-main {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}
.left-part-header img {
  height: 15px;
  padding-top: 20px;
}
.right-part-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 200px;
}
.right-part-header button {
  margin-top: 4px;
  background: none;
  outline: none;
  border: none;
  font-size: 0.8rem;
}
.right-part-header button:hover {
  color: #0065fc;
  cursor: pointer;
}
.space {
  width: 40px;
  height: auto;
  display: inline-block;
}

.right-part-header button:nth-child(1):hover:before {
  content: "";
  width: 88px;
  height: 1.5px;
  position: absolute;
  background: #0065fc;
  transform: translateX(1%) translateY(-870%);
}
.right-part-header button:nth-child(3):hover:before {
  content: "";
  width: 49px;
  height: 1.5px;
  position: absolute;
  background: #0065fc;
  transform: translateX(1%) translateY(-870%);
}

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
  width: 377px;
  height: 49px;
  background-color: #ffffff;
  opacity: 1;
  margin-top: 30px;
  border: 1px solid#f2f2f2;
}

.location-icon {
  width: 50px;
  height: 49px;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 15px 0px 0px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #f2f2f2;
}

.input-city {
  border: none;
  outline: none;
  font-size: 18px;
  width: 147px;
  text-align: center;
  flex-grow: 1;
  padding: 10px;
}
.input-city::placeholder {
  font-weight: bold;
  color: black;
}
.input-city:focus::placeholder {
  color: transparent;
}
.search-button {
  background-color: #0065fc;
  color: white;
  border: 1px;
  border-radius: 0px 15px 15px 0px;
  padding: 15px 16px 15px 16px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
.filters-bar {
  max-width: 758px;
  height: 50px;
  gap: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
}
.filters-bar p {
  font-weight: bold;
}
.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  border: 2px solid #d9d9d9;
  padding: 4px 19px 4px 19px;
  gap: 10px;
  max-width: 173px;
  height: 50px;
}
a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */
}
